target
.idea
out
.project
.classpath
.settings
build
.gradle
*.iml
*.orig
*.mine
migration*.log
bonita-migration-distrib/Config.properties
bonita-migration-distrib/src/main/resources/bonita-versions.properties
bonita-migration-distrib/src/main/resources/homes/*