target
.idea
out
.project
.classpath
.settings
build
.gradle
*.iml
*.orig
*.mine
bonita-update*.log
bonita-update-tool/Config.properties
bonita-update-tool/src/main/resources/bonita-versions.properties